
<div id="de-preloader"></div>
<header class="transparent scroll-light has-topbar">
    <div id="topbar" class="topbar-dark text-light">
        <div class="container">
            <div class="topbar-left xs-hide">
                <div class="topbar-widget">
                    <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+90 567 435 5566</a></div>
                    <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@drivex.com</a></div>
                    <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Pazartesi - Cumartesi 08.00 - 18.00</a></div>
                </div>
            </div>

            <div class="topbar-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="index.html">
                                    <img class="logo-1" src="~/g.png" alt="DriveX" style="height:100px; width:auto; object-fit: contain;">
                                    <img class="logo-2" src="~/g.png" alt="DriveX" style="height:100px; width:auto; object-fit: contain;">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" asp-area="" asp-controller="Default" asp-action="Index">Anasayfa</a>
                            </li>
                            <li><a class="menu-item" asp-controller="Default" asp-action="Index">Hakkımızda</a>
                            </li>
                            <li><a class="menu-item" asp-area="" asp-controller="Car" asp-action="CarList">Araçlar</a>
                            </li>
                            <li><a class="menu-item" asp-controller="Default" asp-action="Index">Blog Yazıları</a>
                            </li>
                            <li><a class="menu-item" asp-controller="Contact" asp-action="Index">İletişim</a>
                            </li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a href="login.html" class="btn-main">Rezervasyon Yap</a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>