@model Rentaly.DtoLayer.MessageDtos.CreateMessageDto

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>
    <div id="wrapper">
        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")
        
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <section id="subheader" class="jarallax text-light">
                <img src="/Rentaly/RentalyHTML/images/background/subheader.jpg" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>İletişim</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            

            <section aria-label="section">
                <div class="container">
						<div class="row g-custom-x">
							
							<div class="col-lg-8 mb-sm-30">

							 <h3>Herhangi bir sorunuz var mı?</h3>
							
        						<form class="form-border" method="post">
                                        <div class="row">
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" asp-for="NameSurname" class="form-control" placeholder="İsim Soyisim" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" asp-for="Email"  class="form-control" placeholder="Email Adresin" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb10">
                                                <div class="field-set">
                                                    <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon Numaran" required>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="field-set mb20">
                                            <textarea asp-for="Messages" rows="4" class="form-control" placeholder="Mesajın" required></textarea>
                                        </div>

                                        <div class="mt20">
                                            <button class="btn-main">Gönder</button>
                                        </div>
                                        
                                        
                                </form>
						</div>
						
						<div class="col-lg-4">

							<div class="de-box mb30">
								<h4>Ankara Ofis</h4>
								<address class="s1">
									<span><i class="id-color fa fa-map-marker fa-lg"></i>Ankara - Türkiye</span>
									<span><i class="id-color fa fa-phone fa-lg"></i>+90 567 435 5566</span>
									<span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@drivex.com</a></span>
								</address>
							</div>

						</div>
							
						</div>
					</div>

            </section>

        </div>

       @await Component.InvokeAsync("_DefaultFooterComponentPartial")
        
    </div>
    <script src="/Rentaly/RentalyHTML/js/plugins.js"></script>
    <script src="/Rentaly/RentalyHTML/js/designesia.js"></script>
    <script src="/Rentaly/RentalyHTML/js/validation-contact.js"></script>
</body>

</html>