@model Rentaly.DtoLayer.CarDtos.CarFilterDto

<section id="section-hero" aria-label="section" class="jarallax">
    <img src="/Rentaly/RentalyHTML/images/background/1.jpg" class="jarallax-img" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 text-light">
                <div class="spacer-double"></div>
                <div class="spacer-double"></div>
                <h1 class="mb-2">Aradığınız <span class="id-color">aracı</span> bulun, yolculuğa hemen başlayın.</h1>
                <div class="spacer-single"></div>
            </div>

            <div class="col-lg-12">
                <div class="spacer-single sm-hide"></div>
                <div class="p-4 rounded-3 shadow-soft" data-bgcolor="#ffffff">


                    <form method="get" asp-action="CarList" asp-controller="Car" name="contactForm" id='contact_form'>
                        <div id="step-1" class="row">
                            <div class="col-lg-6 mb30">
                                <h5>Kategori seçin</h5>

                                <div class="de_form de_radio row g-3">
                                    <div class="radio-img col-lg-3 col-sm-3 col-6">
                                        <input id="radio-1a" n asp-for="CarCategoryId" type="radio" value="8" checked>
                                        <label for="radio-1a"><img src="/Rentaly/RentalyHTML/images/select-form/car.png" alt="">Şehir İçi</label>
                                    </div>

                                    <div class="radio-img col-lg-3 col-sm-3 col-6">
                                        <input id="radio-1b" asp-for="CarCategoryId" type="radio" value="2">
                                        <label for="radio-1b"><img src="/Rentaly/RentalyHTML/images/select-form/van.png" alt="">Suv</label>
                                    </div>

                                    <div class="radio-img col-lg-3 col-sm-3 col-6">
                                        <input id="radio-1c"  asp-for="CarCategoryId" type="radio" value="6">
                                        <label for="radio-1c"><img src="/Rentaly/RentalyHTML/images/select-form/minibus.png" alt="">Ticari</label>
                                    </div>

                                    <div class="radio-img col-lg-3 col-sm-3 col-6">
                                        <input id="radio-1d"  asp-for="CarCategoryId" type="radio" value="5">
                                        <label for="radio-1d"><img src="/Rentaly/RentalyHTML/images/select-form/sportscar.png" alt="">Premium</label>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-lg-6">
                                <div class="row">

                                    <div class="col-md-6 mb20">
                                        <h5>Marka</h5>
                                        <select asp-for="BrandId" asp-items="ViewBag.brand" class="form-control">
                                            <option value="">Marka seçin</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 mb20">
                                        <h5>Yakıt Tipi</h5>
                                        <select asp-for="FuelType" class="form-control">
                                            <option value="">Yakıt tipi seçin</option>
                                            <option value="Benzin">Benzin</option>
                                            <option value="Dizel">Dizel</option>
                                            <option value="Hibrit">Hibrit</option>
                                        </select>
                                    </div>

                                    <div class="col-12 mb20">
                                        <h5>Günlük Fiyat (₺)</h5>

                                        <div class="row g-2 mb-2">
                                            <div class="col-6">
                                                <input asp-for="MinPrice" type="number" class="form-control" placeholder="Min 0">
                                            </div>
                                            <div class="col-6">
                                                <input asp-for="MaxPrice" type="number" class="form-control" placeholder="Max 10000">
                                            </div>
                                        </div>

                                        <div class="row g-2">
                                            <div class="col-6">
                                                <input type="range" min="0" max="10000" step="100" id="minRange" class="form-range" value="0" style="pointer-events:auto;">
                                            </div>
                                            <div class="col-6">
                                                <input type="range" min="0" max="10000" step="100" id="maxRange" class="form-range" value="10000" style="pointer-events:auto;">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <input type='submit' id='send_message' value='Araç Bul' class="btn-main pull-right">
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="spacer-double"></div>

            <div class="row">
                <div class="col-lg-12 text-light">
                    <div class="container-timeline">
                        <ul>
                            <li>
                                <h4>Araç Seç</h4>
                                <p>Geniş araç filomuzdan ihtiyacınıza en uygun aracı seçin.</p>
                            </li>
                            <li>
                                <h4>Lokasyon & Tarih Belirle</h4>
                                <p>Alış ve teslim noktası ile tarih bilgilerinizi kolayca seçin.</p>
                            </li>
                            <li>
                                <h4>Rezervasyon Yap</h4>
                                <p>Hızlı ve güvenli şekilde rezervasyonunuzu tamamlayın.</p>
                            </li>
                            <li>
                                <h4>Keyfini Çıkar</h4>
                                <p>Rahat ve sorunsuz bir yolculuğun tadını çıkarın.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

